*{
    margin: 0;
}


section{
    height: 75vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

article{
    background-color:aquamarine;
    width: 30%;
    height: 55vh;
}
#about{
    background-color:rgb(0, 195, 255);
    justify-content: center;
}

#about article{
    width: 80%;
    height: 80%;
    padding: 20px;
}



#about p{
    font-size: 24px;
}

#cursus{
    background-color: cornflowerblue;
}

#cursus article{
    width: 40%;
    height: 55vh;
}
#projects{
    background-color: darkturquoise;
}

#projects article{
    width: 25%;
    height: 55vh;
}

#projects img{
    width: 100%;
    height: 70%;
}

li{
    list-style-type:none;
    padding: 10px;
    border: 2px solid black;
    margin: 20px;
}

li:hover{
    background-color:burlywood;
}
li:hover a{
    color:white;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    display: flex;
    justify-content: center;
    background-color:rgb(0, 174, 255);
    position: sticky;
    top: 0;
}


header{
    background-image:url(bebe.jpg);
    display: flex;
    justify-content:space-between;
    padding: 50px;
    background-size: cover;
    height: 50vh;
 
}

header img{
    height: 300px;
    width: 220px;
}

div{
    border: 2px solid black;
    width:40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background:beige;
}
h3{
    text-align: center;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

footer img{
    width: 50px;
}